html{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    background-color: #efefef;
}
header{
    background-color: darkslategray;
    color: white;
    padding: 1rem 2rem;
}
header h1{
    font-size: 4rem;
    text-align: center;

}
.container{
    width: 400px;
    margin: 0 auto;
}
section article{
    transition: box-shadow 0.4s ease;
    background-color: lightgrey;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
  
}
section article h2{
    text-align: center;
    font-size: 40px;
    margin: 0;
}
section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0.0,0,3)
    
}
footer{
    background-color: #222;
    color: white;
    padding: 2rem;
}
footer section{
    float: right;
}
footer p{
    margin: 0;
}
footer a{
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
}
footer a:hover{
    color: cornflowerblue;

}
section article img{
    display: block;
    margin: 0 auto;
}
